@import url(common.css);
@import url(header.css);
@import url(footer.css);

.wrap{
  width:100%;
  display: flex;
  background:rgb(255, 255, 255);
  position: relative;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}


/* 메인 */

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  /* border: 1px solid #000; */
}
.buyall{ /* Buy all */
  font-weight: 300;
  font-size: 13px;
  margin: 15px 15px 10px 0px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  float:right;
}
.buyall:hover{
  color: #777;
}
.aventory{
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  /* border: 1px solid #000; */
}
.product{
  display: flex;
  justify-content: center;
  width: 90%;
  border: 1px solid #000;
  margin:auto;
  position: relative;
}
.product img:first-child{width: 100%;}
.product img:last-child{
  position: absolute;
  height: 23px;
  top: 5%;
  right: 6%;
}

/* .product:after{
  content: "";
  z-index: 1;
  position: absolute;
  background-image: url(../image/fillheart.png);
  background-size: 27px 22px;
  width: 27px;
  height: 22px;
  right: 10px;
  top: 10px;
  transition: 0.3s;
}

.product:hover.product:after{
  background-image: url(../image/redheart.png);
} */

.avenname{
  margin-top:15px;
  font-size: 16px;
  transition: 0.3s;
  font-weight:600;
}
.avenname:hover{
  cursor: pointer;
  text-decoration: underline;
}
.avenprice{
  color: #777;
  margin-top: 5px;
  font-size: 15px;
}
.buy{
  width: 160px;
  height: 33px;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  line-height: 33px;
}
.buy:hover{
  background-color: #333;
}
.page_number{margin-bottom: 30px;}
.page_number button{
  border: none;
  margin-right: 15px;
  background-color: transparent;
  cursor: pointer;
  color: #777;
}
.page_number button:hover{
  color: #000;
    text-decoration: underline;
}
.page_number button:first-child{color: #777;}
.page_number button:first-child:hover{text-decoration: none;}

.page_number button:nth-child(2){
  border-bottom: 1px solid #000;
  color: #000;
}

