@import url(common.css);

*{box-sizing: border-box;}
body{color: #333;}

#wrap{
  width: 100%;
  height: 100vh;
  margin: auto;
}

header img{height: 16px;}
.logo{transform:translateY(5px)}
header{border: 1px solid #000;}

.gnb{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.r-gnb{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 0;
  font-size: 17px;
}

.r-gnb li{margin-right: 13px;}
.r-gnb li:last-child{margin-right: 15px;}


.trigger{
  display: block;
  position: absolute;
  width: 23px;
  height: 14px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
.trigger span{
  height: 2px;
  border-radius: 5px;
  background-color: #333;
  position: absolute;
  width: 100%;
  transition: 0.35s;
}

.trigger span:nth-child(1){top: 0;}
.trigger span:nth-child(2){
  top: 50%;
  width: 70%;
}
.trigger span:nth-child(3){top: 100%;}

/* main ---------------------------------------  */
main img{width: 100%;}

main{position: relative;}

main>p{
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
}
main > p b{
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
main > p em, main > p span{
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

/* Section -------------------------------- */
section{margin: auto;}

.section1{
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  background: url(../image/main02.png) no-repeat;
  background-position-x: calc(100% - 15px);
  background-position-y: 20px;
  background-size: 200px;
  background-color: rgb(255, 255, 255);
}
.section1 .model{
  position: absolute;
  top: 5%;
  right: 5%;
}
.section1 .model img{height: 600px;}
.section1 > div > p{
  position: absolute;
  top: 60%;
  left: 5%;
}
.section1 > div > p b{
  display: block;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #636363;
  margin-bottom: 20px;
}
.section1 > div > p a{
  display: block;
  color: #9C9C9C;
  font-style: normal;
  font-size: 12px;
}

.section2{
  height: 300px;
  background: url(../image/main03.png) no-repeat;
  background-color: #dedede;
  background-position-x: 15px;
  background-position-y: 20px;
  position: relative;
}
.section2 .model{
  right: auto;
}
.section2 .model img{
  scale: 0.8;
}
.section2 > div > p{
  position: absolute;
  top: 60%;
  left: auto;
  right: 5%;
  text-align: right;
}

.section-sort{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-sort-inner{
  text-align: center;
  padding-bottom: 50px;
  background-color: #fffbde51;
}
.section-sort-inner:last-child{
  background-color: #e1f1ff7e;
}
.section-sort-inner p b{
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #636363;
  margin-bottom: 8px;
}
.section-sort-inner p a{
  color: #9C9C9C;
  font-style: normal;
  font-size: 12px;
}
.section-sort img{
  width: 100%;
}

/* footer ---------------------------------- */

.accordion .fTitle {
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 15px;
}
.accordion .fTitle:after {
  content: '\e9c5';
  font-family: xeicon;
  float: right;
  margin-top: 5px;
  transition: 0.35s;
}

.accordion .fTitle.active:after {transform: rotate(45deg);}
.accordion .fTitle.active {
  background-color: #0000C5;
  border-color: #0000C5;
  color: #fff;
}


.accordion .fContent {
  display: none;
  font-size: 15px;
  padding: 30px 15px;
}
.fContent ul li{margin: 10px auto;}
.fContent .bluemark{
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding: 10px 18px;
  text-align: center;
  background-color: #0000C5;
  color: #fff;
  letter-spacing: 1px;
}
.accordion .fContent.active{display: block;} 